<div class="fixed-right nav-scroll shadow bg-white col-3 mx-3 mt-5">

  <div class="show-nav-header shadow bg-white py-4">
    <div>
      <%= render partial: 'phone_title_show', phone: @phone %>
    </div>
  </div>
  <br>

  <div id="image" class="mb-5 px-4">
    <%#= render partial: 'phone_image_show', phone: @phone %>
  </div>

  <div id="overview" class="mb-5 px-4">
    <%#= render partial: 'phone_overview_show', phone: @phone %>
  </div>

  <div id="video" class="mb-5">
    <%#= render partial: 'phone_video_show', phone: @phone %>
  </div>
</div>
