<% provide :page_title, 'Home' %>
<% currently_at 'Home' %>

<div class="container pt-5 pb-5">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center mt-5 mb-5">
    <h4 class="display-4 fw-normal"><strong>Chill n' Repair</strong> <small class="text-muted">Pricing</small></h4>
  </div>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">

          <div class="card-header py-3 bg-white">
            <h4 class="my-0 fw-normal">iPhones 5-th generation</h4>
          </div>

          <div class="card-body">
            <h4 class="card-title pricing-card-title"><small class="text-muted fw-light">Repair from <strong>1500$</strong></small></h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <%= button_to 'Select faults', '#', class: "w-100 btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">

          <div class="card-header py-3 bg-white">
            <h4 class="my-0 fw-normal">iPhones 6-th generation</h4>
          </div>

          <div class="card-body">
            <h4 class="card-title pricing-card-title"><small class="text-muted fw-light">Repair from <strong>2000$</strong></small></h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <%= button_to 'Select faults', '#', class: "w-100 btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">

          <div class="card-header py-3 bg-white">
            <h4 class="my-0 fw-normal">iPhones 7-th generation</h4>
          </div>

          <div class="card-body">
            <h4 class="card-title pricing-card-title"><small class="text-muted fw-light">Repair from <strong>2500$</strong></small></h4>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <%= button_to 'Select faults', '#', class: "w-100 btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </main>

  <p class="fs-5 text-muted mt-5 mb-5">Departure and diagnostics of the master within the city 500$, outside the city 1000$. The maximum distance from the city is 20 kilometers.</p>
</div>
